<%- model_class = Order -%>
<div class="container">
	<div class="page-header">
	  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
	</div>
	
	<dl class="dl-horizontal">
	  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
	  <dd><%= @order.name %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
	  <dd><%= @order.email %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
	  <dd><%= @order.model %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
	  <dd><%= @order.details %></dd>
	</dl>
	
	<%= link_to t('.back', :default => t("helpers.links.back")),
	              orders_path, :class => 'btn btn-default'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_order_path(@order), :class => 'btn btn-default' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              order_path(@order),
	              :method => 'delete',
	              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	              :class => 'btn btn-danger' %>
</div>
